<div class="flex-row">
  <div id="Content" class="flex-col">     
    <heading-main heading="{{viewName}}"></heading-main>

    <div class="section">
      <heading-sub heading="What is a Component?"></heading-sub>
      <div class="info">
        A component is a group of html which can be re-used in your project. You are able to pass a component <span class="bold">props</span>. These are values that can be used within your component template. For example, say you want to display users details on a card that holds all the  user's info. Without components you would need to type out each card. This is where a component can be of use. You would create a component, we will call it <span class="bold">userCard</span>. Once you are done creating it, you can now add it to your template/view and pass it the props required. Thats it! Now for each user you just add a <span class="bold">userCard</span> to your template/view and on render it will display each user.
      </div>
    </div>

  </div>
  <docs-navBar></docs-navBar>
</div>