
<!-- //? Navbar -->
<navBar></navBar>

<!-- //? all content -->
<div class="content">

  <heading-main heading="Getting Started with Quantum"></heading-main>
  
  <div class="section">        
    <heading-sub heading="This is an overview of Quantum JS"></heading-sub> 
    <div class="info">
      <b>Quantum JS</b> is a Javasrcipt library built to make your life a whole lot easier when building a user interface. It takes away all the nity grity parts of development, and allows you to play around with the <b>funs parts of developing!</b><br><br>
    
      Here we will help you understand how to <b>use Quantum JS to its full potential</b>, while also covering some of the <b>core fundamentils</b>. So what are you waiting for, <b>lets begin!</b>
    </div>      
  </div>      

  <div class="section">
    <heading-sub heading="Add Quatum JS to your Project"></heading-sub>
    <div class="info">
      Adding Quantum won't take long at all. See <link-comp label="Adding Quantum JS" router="/adding-quantum"></link-comp> to learn how to add it!
    </div>
  </div>      

  <div class="section">      
    <heading-sub heading="Create your First Quantum Project"></heading-sub>
    <div class="info">
      Learn how to create your first basic Quantum project, from including Quantum into your project to building your first app! <link-comp label="Start Creating!" router="/first-app"></link-comp>
    </div>      
  </div>

  <div class="section">      
    <heading-sub heading="Understanding the Fundamentals"></heading-sub>
    <div class="info">
      If you prefer to learn by doing the actual code, then these step by step guides are perfect for you! To use Quantum to it's fullest, you will need to understand the core fundamentals first. See <link-comp label="View Controller" router="/view-controller"></link-comp> to start off learning everything you'll need to know from creating your first <b>"hello world"</b> app, to building a small <b>"Skills List"</b> app.
    </div>
  </div>

  <div class="section">      
    <heading-sub heading="Basic Tutorial"></heading-sub>
    <div class="info">
      This will be and awesome project for you once you feel comfortable with using Quantum! Here we will guide you through building a simple <link-comp label="Skills List" router="/first-app"></link-comp> app. It will consist of a basic input field in which you would type a skills that you have, and add it to a list of the rest of your skills bellow.
    </div>      
  </div>

  <div class="section">      
    <heading-sub heading="Quantum's Components"></heading-sub>
    <div class="info">
      Want to learn how Quantum's custom components! Well see our guide here <link-comp label="Understanding Components" router="/components"></link-comp>. We will explain how to use them in Quantum and how they can really improve the eficiency of your development. 
    </div>      
  </div>

</div>