
<!-- //? Navbar -->
<navBar></navBar>

<!-- //? all content -->
<div class="content">      

  <heading-main heading="Adding Quantum JS To Your Project"></heading-main>

  <div class="section">
    <heading-sub heading="How much you use is up to YOU!"></heading-sub>
    <div class="info">
      Quantum was made to make development a whole lot easier, faster and fun. It brings alot of features to the table, but whether or not you use them is up to you!
    </div>
  </div>  

  <div class="section">
    <heading-sub heading="Installing Quantum"></heading-sub>
    <div class="info">
      The first thing you'll need to do is download <link-comp label="Quantum JS" router=""></link-comp> and and it's contents to your project directory. Once you are done, it should look something like this.
    </div>
    <img-comp src="./src/images/installingQuantum.jpg"></img-comp>
  </div>

  <div class="section">
    <heading-sub heading="Instatiating Quantum JS"></heading-sub>
    <div class="info">
      Now that you have Quantum JS installed in your project directory, you can go into the app.config.js file and see that we do a few things.
    </div>
    <img-comp src="./src/images/instantiatingQuantum.jpg"></img-comp>
    <div class="info">
      As you can see we include a few things. We include <b>App State, Interfaces, Views</b> and pass them to the config object. This object is where you setup stuff like the <b>name of your application or the version</b>. Have a look through all the different settings and you'll soon realise that it's very easy to follow. Once you have read and understand it, you can feel free you change it up and see what happens.
    </div>
  </div>

  <div class="section">
    <heading-sub heading="Creating Your Routes"></heading-sub>
    <div class="info">
      Your <b>routes</b> is just an array of objects. Each object being a route in which you can navigate to within your application. Here is how it should look. 
    </div>
    <img-comp src="./src/images/creatingRoute.jpg"></img-comp>
    <div class="info">
      As you can see there 2 properties per route <b>( path, handler )</b><br>
      <heading-small heading="Path"></heading-small>
      The path is the actual route you would like to go to when navigating by a button. For instance if you have a button called <b>Contact Us</b>. If you wanted to go to the contact us route, you would pass the path to that button via the <b>route</b> attribute.

      <heading-small heading="Handler"></heading-small>
      The handler is what you would like to focus on. It is the actaul <b>View Controller</b>. Meaning, the object containing all the infomation about that <b>View</b>. So in order to have a <b>Handler</b>, you would need to have a view in which exports the hanlder. See <link-comp label="Hello World" router="/helloWorld"></link-comp> if you do not know how to create a view for your application.
    </div>
  </div>

  <div class="section">
    <heading-sub heading="Importing your View Handlers"></heading-sub>
    <div class="info">
      Now that you have your routes set up, you need to get all your <b>View Handlers</b>. To do this, all you need is to make sure on your <b>View</b>, you export your <b>View Controller</b> and then import it inside of <b>app.config.js</b>. Then pass it to your route's <b>handler</b> like in the above example.
    </div>
    <!-- <img-comp src="./src/images/importViewHandlers.png"></img-comp> -->
  </div>

  <div class="section">
    <heading-sub heading="In Conclusion"></heading-sub>
    <div class="info">
      So in conclusion, we have a file <b>"app.js"</b> which imports Quantum JS and instantiates it. We setup routes for our application and then passed them to our <b>config file</b>. And now we have a fully working app for use to play with and dive deepter into learning!
    </div>
    <!-- <img-comp src="./src/images/summaryOfApp.png"></img-comp> -->
  </div>

</div>